---
- name: Install Homebrew and Homebrew Packages
  hosts: mac
  become: false
  vars:
    homebrew_taps:
      - hashicorp/tap
      - FelixKratz/formulae
    cask_packages:
      - iterm2
      - font-hack-nerd-font
      - zen
      - nikitabobko/tap/aerospace
      - 1password
    brew_packages:
      - jq
      - yq
      - bat
      - eza
      - fd
      - fzf
      - ripgrep
      - lazygit
      - lazydocker
      - lazysql
      - docker
      - docker-compose
      - 1password-cli
      - powerlevel10k
      - tmux
      - neovim
      - zsh-autocomplete
      - zsh-autosuggestions
      - zsh-syntax-highlighting
      - ansible
      - hashicorp/tap/terraform
      - goenv
      - pyenv
      - node
      - sketchybar
  tasks:
    - name: Ensuring Homebrew is installed
      stat:
        path: /opt/homebrew/bin/brew
      register: brew_check

    - name: Installing Homebrew
      shell: NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      when: not brew_check.stat.exists

    - name: Updating Homebrew
      homebrew:
        update_homebrew: true
      when: brew_check.stat.exists

    - name: Tapping Homebrew Repositories
      homebrew_tap:
        name: "{{ homebrew_taps }}"
        state: present
      register: result
      until: result is successful
      when: brew_check.stat.exists

    - name: Installing Homebrew Cask Packages
      homebrew_cask:
        name: "{{ cask_packages }}"
        state: present
      register: result
      until: result is successful
      when: brew_check.stat.exists

    - name: Installing Homebrew Packages
      homebrew:
        name: "{{ brew_packages }}"
        state: present
      register: result
      until: result is successful
      when: brew_check.stat.exists

